{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<ul id="post-list">
{% for article in articles_page.object_list %}
    <li><article class="hentry">
            <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            {{ article.summary }}
    </article></li>
{% endfor %}
</ul><!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
